html {
    font-size: 1rem;
    background-color: white;
    color: black;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.section-container {
    width: 95%;
}

.img-container {
    overflow: hidden;
}

.img-container img {
    width: 100%;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    height: 4rem;
    position: fixed;
    width: 100%;
    background-color: white;
}

.logo-plus-name {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: lighter; 
    font-size: 32px;
    color: gray;  
}

.logo {
    height: 64px; 
    padding-left: 1.5rem;
}

.logo-plus-name span {
    font-weight: 500;
    color: black;
}

nav {
    display: flex;
    padding-right: 1.5rem;
}

nav a {
    font-weight: lighter;
    color: darkslategray;
    padding: 0 8px;
}

nav a:hover {
    color: deeppink;
}

/* Desktop header */
@media only screen and (min-width: 1001px) {
    .mobile-header {
        display: none;
    }
}

/* Tablet header */
@media only screen and (min-width: 641px) and (max-width: 1000px) {
    .desktop-header {
        display: none;
    }

    nav {
        width: 40%;
        justify-content: space-between;  
    }

    .desktop-header.tablet-header {
        display: block;
        padding-right: 2rem;
    }

    .mobile-header {
        padding: 0 1rem;
    }
}

/* Mobile header */
@media only screen and (max-width: 640px) {
    .desktop-header {
        display: none;
    }

    nav {
        width: 75%; 
        justify-content: space-around;
    }

    nav a {
        padding: 1rem;
    }

    .logo {
        padding-right: 1.5rem;
    }
}

                /* Main Section */

main {
    position: relative;
    top: 4rem;
}

                /* Banner Section */

.section-container {
    display: flex;
}

.banner-section .img-container {
    width: 60%;
}