html {
    font-size: 1rem;
    background-color: white;
    color: black;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.img-container {
    overflow: hidden;
}

.img-container img {
    width: 100%;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    height: 4rem;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 10;
}

.logo-plus-name {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: lighter; 
    font-size: 32px;
    color: gray;  
}

.logo {
    height: 64px; 
    padding-left: 1.5rem;
}

.logo-plus-name span {
    font-weight: 500;
    color: black;
}

nav {
    display: flex;
    padding-right: 1.5rem;
}

nav a {
    font-weight: lighter;
    color: darkslategray;
    padding: 0 8px;
}

nav a:hover {
    color: deeppink;
}

/* Desktop header */

@media only screen and (min-width: 1001px) {
   
    .mobile-header {
        display: none;
    }
}

/* Tablet header */

@media only screen and (min-width: 641px) and (max-width: 1000px) {
   
    .desktop-header {
        display: none;
    }

    nav {
        width: 40%;
        justify-content: space-between;  
    }

    .desktop-header.tablet-header {
        display: block;
        padding-right: 2rem;
    }

    .mobile-header {
        padding: 0 1rem;
    }
}

/* Mobile header */

@media only screen and (max-width: 640px) {
  
    .desktop-header {
        display: none;
    }

    nav {
        width: 75%; 
        justify-content: space-around;
    }

    nav a {
        padding: 1rem;
    }

    .logo {
        padding-right: 1.5rem;
    }
}

/* Main Section */

main {
    position: relative;
    top: 4rem;
}

.section-container {
    width: 100%;
    display: flex;
}

/* Banner Section */

.banner-section {
    background-color: lightgray;
}

.primary-container {
    width: 60%;
    padding: 2rem 0 2rem 1.5rem;
}

.secondary-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.5rem;
    color: darkslategray;
}

.description-box {
    width: 90%;
}

.banner-section h1 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
}

.banner-section p {
    padding: 1.25rem 0;
    line-height: 1.5;
}

.banner-section .button {
    display: flex;
    padding: 8px 0;
    width: 100%;
    height: 1.875rem;
    background-color: darkslategray;
    color: white;
    justify-content: center;
}

/* Information Section */

.secondary-info {
    display: flex;
}

.information-section .secondary-container .img-container {
    width: 35%;
}

