/* PAGE WIDE styling choices */

* {
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    background-color: white;
    color: black;
    font-family: sans-serif;
}

body {
    padding-top: 64px;
}

section {
    width: 100%;
    display: flex;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: darkslategray;
    padding-top: 2rem;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}

a {
    text-decoration: none;
    font-weight: lighter;
    color: darkslategray;
}

a:hover {
    color: deeppink;
}

.img-container {
    overflow: hidden;
}

img {
    width: 100%;
}

video {
    width: 100%;
}

hr {
    border: .0625rem solid lightgray;
    width: 100%
}

.title-container {
    width: 100%;
    text-align: center;
    padding: 0;
}

.primary-container {
    width: 60%;
    padding: 2rem 1.5rem 2rem 1.5rem;
}

.secondary-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: darkslategray;
}

.secondary-info-box {
    display: flex;
    padding: 32px 16px;
    height: auto;
}

.text-info-box {
    width: 90%;
    color: darkslategray;
    line-height: 1.5;
    font-size: 1rem;
}    

.gray-background {
    background-color: lightgray;
}

/* ALL DESKTOP AND TABLET sections styling */



/* ALL MOBILE sections stylings */

@media only screen and (max-width: 639px) {

    section {
        display: block;
    }

}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    height: 4rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
}

.logo-plus-name {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: lighter; 
    font-size: 32px;
    color: gray;  
}

.logo {
    height: 64px; 
    padding-left: 1.5rem;
}

.logo-plus-name span {
    font-weight: 500;
    color: black;
}

nav {
    display: flex;
    padding-right: 1.5rem;
}

nav a {
    padding: 0 8px;
}

/* DESKTOP header */


   
/* TABLET header */

@media only screen and (min-width: 640px) and (max-width: 1023px) {
  

    nav {
        width: 50%;
        justify-content: space-around;
        padding-left: 48px;
    }

    .logo-plus-name {
        min-width: 360px;
    }

}
   
/* MOBILE header */

@media only screen and (max-width: 640px) {

    nav {
        width: 75%;
        justify-content: space-around;
        padding-left: 48px;
    }
}

/* BANNER Section (DESKTOP and TABLET the same)  */

.banner-section .secondary-container {
    justify-content: center;
    padding-right: 24px;
}

.banner-section .text-info-box {
    padding: 16px;
}

.banner-section p {
    padding: 32px 0 24px 0;
}

.banner-section .button {
    display: flex;
    padding: 8px 0;
    width: 100%;
    height: 1.875rem;
    background-color: darkslategray;
    color: white;
    justify-content: center;
    align-items: center;
}

.banner-section .button:hover {
    color: deeppink;
    background-color: rgb(40, 40, 90);
}

/* Banner section -- MOBILE ONLY */

@media only screen and (max-width: 639px) {

    .banner-section .primary-container {
        width: 100%;
        padding: 0;
    }

    .banner-section .secondary-container {
        width: 100%;
        padding: 32px 16px;
    }

    .banner-section .text-info-box {
        padding: 0;
        width: 100%;
    }
}

/* Information Section DESKTOP and TABLET */

.information-section .primary-container {
    border-right: .0625rem lightgray solid;
}

.information-section .primary-container p {
    padding-top: 24px;
}

.information-section .caption {
    font-size: 12px;
    font-weight: 400;
    padding-top: 32px;
}

.information-section .secondary-container {
    margin-bottom: 32px;
}

.information-section .secondary-info-box {
    display: flex;
    align-items: center;
    border-bottom: .0625rem solid lightgray;
    flex-grow: 1;
}

.information-section .secondary-container .img-container {
    width: 35%;  
    min-width: 106px;
    padding-right: 16px;
}


.information-section .description-box {
    line-height: 1.1;
}

.information-section .text-info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.information-section a {
    color: blue;
}

.information-section a:hover {
    color: deeppink;
}

/* Information Section MOBILE ONLY */

@media only screen and (max-width: 639px) {

    .information-section .secondary-container {
        width: 100%;
        margin: 0;
    }

    .information-section .secondary-info-box {
        display: block;
    }

    .information-section .secondary-info-box .img-container {
        width: 100%;
        padding: 0;
    }

    .mobile-img {
        width: 100%;
    }

    .information-section .secondary-info-box {
        border: 0;
    }

    .information-section .secondary-info-box .text-info-box {
        padding-top: 16px;
    }

    .information-section .gray-background {
        background-color: white;
    }

}

/* Learning Section */

.learning-section {
    width: 100%;
}

.learning-section .secondary-container {
    width: 100%;
    box-sizing: border-box;
    flex-flow: row wrap;
    justify-content: center;
    padding: 16px 72px;
}

.learning-section .secondary-info-box {
    display: block;
    width: 27%;
    text-align: left;
    background-color: white;
    padding: 0;
    margin: 16px;
}

.learning-section .text-info-box {
    padding: 16px 16px 24px 16px;
}

.learning-section a {
    display: inline;
}

/* Thesis Section  */

.thesis-section {
    display: block;
}

.thesis-section h2 {
    padding: 24px 0;
}

.thesis-flex-container {
    display: flex;
}

.thesis-section .primary-container {
    padding-top: 0;
}

.thesis-section .primary-container p {
    padding-top: 8px;
    padding-bottom: 32px;
}

.thesis-section .secondary-container {
    margin-bottom: 32px;
    justify-content: flex-start;
}

.thesis-section .secondary-container .img-container {
    width: 35%;  
    padding-right: 16px;
}

.thesis-section .description-box {
    line-height: 1.1;
}

.thesis-section .text-info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Footer specific */

footer {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px 32px 24px;
    color: darkslategray;
    font-size: 12px;
    border-top: .0625rem lightgray solid;
}

footer a {
    padding: 0 8px;
}
